body {
    background-color: #90AFC5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
    line-height: 3;
}
h1 {
    text-align: center;
    color: #2A3132;
    font-size: 72;
}
.buttonStyle {
    background-color: #336B87;
    border: none;
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 5px;
    min-width: 50%;
    min-height: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #2A3132;
}
.buttonStyle:hover {
    opacity: 0.8;
}
.pokemon-list {
    list-style-type: none;
    text-align: center;
}